<h3 class="item-heading">{{model.name}}</h3>
<ul class="list-plain">
  <li>
    <strong>Skills:</strong>
    {{array-to-string model.skills}}
  </li>
  <li>
    <strong>Date From:</strong>
    <time>Jan, 2016</time>
  </li>
  <li>
    <strong>Date To:</strong>
    <time>Jan, 2016</time>
  </li>
</ul>

<div>
  <a onclick={{action editAction}} class="btn btn-default btn-xs">Edit</a>
  <a onclick={{action deleteAction}} class="btn btn-danger btn-xs">Delete</a>
</div>

