<h2 data-test="summary-list-title">{{title}}</h2>
<ul class="list-group">
  {{#each entries as |entry|}}
    {{summary-list-item model=entry type=type}}
  {{/each}}
  <li class="list-group-item">
    {{#link-to redirect data-test="summary-list-more"}}More ткв{{/link-to}}
  </li>
</ul>
