.login-btn {
  margin-right:0;
}

.main-content {
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-footer {
  background: rgb(11, 42, 60);

  ul {
    text-align: center;
    padding: 0;
    margin: 20px 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #ccc;
  }
}
