ul {
  padding: 0
}
body {
  color: $textBaseColor;
}
.dashboard {
  background: $dashboardBackgroundColor;
}
h1,h2,h3,h4,h5,h6 {
  color: $headingBaseColor;
}
a {
  color: $headingBaseColor;
  &:hover {
    cursor: pointer;
  }
}
