/* *** Colors *** */

/* Base */
$dashboardBackgroundColor: #fafbfc;
$textBaseColor: #7c7476;
$textLightColor: #969c9f;
$headingBaseColor: #314752;
$darkBorder: #d3d6da;

/* Navbar */
$navbarBackgroundColor: #0d2a3b;
$navbarBorderColor: #e6442d;
$navbarTextColor: #d7dcdf;
$navbarTextActiveColor: white;

/* Buttons */
$loginBtn: #3b5260;

/* Summary list group */
$summaryListGroupBorder: #edf0f3;
