/* summary lists */
.summary-lists {
  display: flex;
}
.summary-list {
  flex: 1;
  margin-right: 20px;
}

/* list group */
.list-group-item {
  display: flex;
  color: $textLightColor;
  font-size: 14px;
  border: 1px solid $summaryListGroupBorder;
  .list-group-item-heading {
    font-size: 14px;
  }
}
.list-group-item-text {
  flex: 2;
}
.list-group-item-tags {
  flex: 4;
}
.list-group-item-link {
  flex: 1;
}

/* List two columns */
.list-two-columns {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  list-style: none;
  > li {
    width: 50%;
    border-bottom: 1px solid #f2f4f6;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
}

/* Profile List item */
.profile-list-item {
  .item-heading {
    margin-top: 0;
    font-size: 14px;
    font-weight: bold;
  }
}
