<div class="container-fluid layout-header main-header">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        {{#link-to "index" class="navbar-brand"}}Resource Dashboad{{/link-to}}
      </div>

      <ul class="nav navbar-nav" data-test="main-header-navigation">
        <li>{{#link-to "index" data-test="main-header-navigation-index"}}Dashboard{{/link-to}}</li>
        <li>{{#link-to "developers" data-test="main-header-navigation-developers"}}Developers{{/link-to}}</li>
        <li>{{#link-to "opportunities" (query-params page=1) data-test="main-header-navigation-opportunities"}}Opportunities{{/link-to}}</li>
      </ul>

      {{#link-to "login" class="btn btn-default navbar-btn navbar-right login-button" data-test="main-header-login"}}Login{{/link-to}}
    </div>
  </nav>
</div>

<div class="layout-wrapper">
  <div class="layout-content">
    <div class="container-fluid main-content">
      {{outlet}}
    </div>
  </div>

  <div class="layout-footer">
    <div class="container-fluid  main-footer">
      <nav>
        <ul data-test="main-footer-navigation">
          <li>{{#link-to "index" data-test="main-footer-navigation-index"}}Dashboard{{/link-to}}</li>
          <li>{{#link-to "developers" data-test="main-footer-navigation-developers"}}Developers{{/link-to}}</li>
          <li>{{#link-to "opportunities" (query-params page=1) data-test="main-footer-navigation-opportunities"}}Opportunities{{/link-to}}</li>
          <li><a href="https://workable.com/" target="_blank" data-test="main-footer-navigation-workable">Workable</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
