<div class="dashboard">
  <div class="summary-graph">
    <img src="http://www.chartholdr.io/line/1200/300">
  </div>

  <div class="summary-lists" data-test="summary-lists">
    {{summary-list title="Opportunities" entries=recentOpportunities type='opportunity' redirect='opportunities'}}
    {{summary-list title="Newest Developers" entries=recentDevelopers type='developer' redirect='developers'}}
    {{summary-list title="Available Soon Developers" entries=availableSoonDevelopers type='developer' redirect='developers'}}
  </div>
</div>
