<div class="developers-content">
  Developers filtering goes here
</div>

<div class="developers-content">
  {{developers-list developers=developers}}
</div>

{{pagination-bar
  page=page
  totalItemsCount=totalItemsCount
  onSelect=(action 'selectPage')
}}
