<h3 class="heading-main">Developers</h3>

<div class="filter-controls clearfix">
  {{developers-list-filters
    developers=developers
    onFilter=(action 'filterDevelopers')
  }}
</div>

<div class="developers-content">
  {{developers-list developers=pagedDevelopers}}
</div>

{{pagination-bar
  page=page
  itemsPerPage=itemsPerPage
  totalItemsCount=developersCount
  onSelect=(action 'selectPage')
}}
