<h3 class="heading-main">Developers</h3>

<div class="filter-controls clearfix">
  {{developers-list-filters
    developers=developers
    address=address
    timezone=timezone
    rate=rate
    nextAvailable=nextAvailable
    skills=skills
    onFilter=(action 'filterDevelopers')
  }}
</div>

<div class="developers-content">
  <ul class="list-two-columns">
    {{#each developers as |developer|}}
      {{developers-list-item model=developer}}
    {{/each}}
  </ul>
</div>

{{pagination-bar
  page=page
  itemsPerPage=itemsPerPage
  totalItemsCount=filteredDevelopers.length
  onSelect=(action 'selectPage')
}}
