<h3 class="heading-main">Developers</h3>

<div class="filter-controls clearfix">
  {{developers-list-filters
    developers=developers
    skill=skill
    address=address
    timezone=timezone
    rate=rate
    nextAvailable=nextAvailable
    onFilter=(action 'filterDevelopers')
  }}
</div>

<div class="developers-content">
  {{developers-list developers=pagedDevelopers}}
</div>

{{pagination-bar
  page=page
  itemsPerPage=itemsPerPage
  totalItemsCount=filteredDevelopers.length
  onSelect=(action 'selectPage')
}}
