<div class="developers-content">
  Developers filtering goes here
</div>

<div class="developers-content">
  {{developers-list developers=pagedDevelopers}}
</div>

{{pagination-bar
  page=page
  itemsPerPage=itemsPerPage
  totalItemsCount=developersCount
  onSelect=(action 'selectPage')
}}
