<div class="developers-content">
  Developers filtering goes here
</div>

<div class="developers-content">
  {{developers-list developers=developers}}
</div>

<div class="developers-pagination">
  Developers pagination goes here
</div>
