<div class="graph">
  Fancy graph will go here
</div>

<div class="summary">
  <div class="summary-block">
    {{summary-list title="Opportunities" entries=opportunities type='opportunity'}}
  </div>
  <div class="summary-block">
    {{summary-list title="Developers" entries=developers type='developer'}}
  </div>
</div>
