<h3 class="heading-main">Opportunities</h3>

<ul class="list-two-columns">
  {{#each pagedOpportunities as |opportunity|}}
    {{opportunity-list-item model=opportunity}}
  {{/each}}
</ul>

{{pagination-bar
  page=page
  totalItemsCount=opportunitiesCount
  onSelect=(action 'selectPage')
}}
